<h1>Edit movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<div>
  <%= link_to "Go back", @movie %>
</div>

<hr>

<%= form_with(url: movie_path(@movie), method: :patch, data: { turbo: false }) do %>
  <div>
    <%= label_tag :title %>

    <%= text_field_tag "movie[title]", @movie.title %>
  </div>

  <div>
    <%= label_tag :description %>

    <%= text_area_tag "movie[description]", @movie.description, { rows: 3 } %>
  </div>

  <%= button_tag "Update Movie" %>
<% end %>
<form action="/movies/<%= @movie.id %>" method="post" data-turbo="false">
  
</form>
